.panel {
}

.main {
    display: flex;
    border:thin solid black;
   background-color: yellow;
    margin-bottom: 25px;
}

.main:last-of-type {
    margin-bottom: unset;
}

.right {
    display:     inline-block;
    margin-left:  auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto
}

.left {
    display:      inline-block;
    margin-right:  auto;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto
}

.button {
    width: 50px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;

}
.error {
    display: flex;
    border:thin solid black;
    background-color: red;
    margin-bottom: 25px;
}