.display {
    margin-top: 25px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 80px;
}

.red {
    margin-top: 25px;
    text-align: center;
    font-size: 100px;
    margin-bottom: 80px;
    color:#FC3939;
}

.incorrect {
    text-align: center;
    color: #FC3939;
    font-size: 50px;
}
